@{
    ViewData["Title"] = "Home Page";
}
<h2 style="color: #2e6c80;">Welcome to ProductWebApplication</h2>

<p>In this web app you can manage SQL Product Database<br />You can view, add and update products.&nbsp;</p>
<p>To move aroud the app use the navigation bar above</p>